{% extends "layout.html" %}

{% block page_title %}Тройка > Заявки на карты > Просмотр{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    <li><a href="{{ url_for('order.list') }}">Заявки на карты</a></li>
    <li class="active">Просмотр</li>
  </ol>
{% endblock %}

<td></td>
          <td></td>
          <td>{{ order.user_email }}</td>
          <td>{{ order.creation_date }}</td>
          <td>{{ status_title[order.status] }}</td>
{% block content %}
  <table class="table table-bordered table-responsive">
    <thead>
        <tr>
          <th class="col-md-2">Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{ order.id }}</td>
      </tr>
      <tr>
        <td>User ID</td>
        <td>{{ order.user_id }}</td>
      </tr>
      <tr>
        <td>User Email</td>
        <td>{{ order.user_email }}</td>
      </tr>
      <tr>
        <td>Дата создания</td>
        <td>{{ order.creation_date }}</td>
      </tr>
      <tr>
        <td>Статус</td>
        <td>{{ status_title[order.status] }}</td>
      </tr>
      <tr>
        <td>Имя на карте</td>
        <td>{{ order.name|default('N/A', true) }}</td>
      </tr>
      <tr>
        <td>Должность на карте</td>
        <td>{{ order.position|default('N/A', true) }}</td>
      </tr>
      {% if order.image %}
      <tr>
        <td>Макет карты</td>
        <td>
          <img src="{{ order.image }}" alt="Image" height="400"/>
        </td>
      </tr>
      {% endif %}
      {% if order.photo %}
      <tr>
        <td>Оригинальная картинка</td>
        <td>
          <a href="{{ order.photo }}" title="Скачать оригинальное изображение">
            <img src="{{ order.photo }}" alt="Photo" height="400"/>
          </a>
        </td>
      </tr>
      {% endif %}
      {% if order.logo %}
      <tr>
        <td>Оригинальный логотип</td>
        <td>
          <a href="{{ order.logo }}" title="Скачать оригинальное изображение">
            <img src="{{ order.logo }}" alt="Logo" height="400"/>
          </a>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
{% endblock %}