{% extends "layout.html" %}

{% block page_title %}Тройка > Карты > Редактирование ({{ card.hard_id }}){% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    <li><a href="/card/">Карты</a></li>
    <li class="active">Редактирование ({{ card.hard_id }})</li>
  </ol>
{% endblock %}
  
{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row">
      <div class="col-md-12">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
         {{ message }}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  {% endwith %}

  {% include 'card/_form.html' %}
  
{% endblock %}