{% extends "layout.html" %}

{% block page_title %}Тройка > Карты > Импорт{% endblock %}

{% block menu %}
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="/card/">Карты</a></li>
        <li class="active">Импорт</li>
      </ol>
      </div>
    </div>
{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row">
      <div class="col-md-12">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
         {{ message }}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  {% endwith %}

  <div class="bs-callout bs-callout-info">
    <p>На данной странице вы можете зарузить файл, 
      данные из которого будут импортированны в систему.</p>

    <p>Загружаемый файл должен быть csv, содержащий набор строк 
      <strong>Hard ID</strong>, <strong>Тройка ID</strong> (являются обязательными)<br /> 
      <strong>Название на русском</strong> и <strong>Название на англиском</strong> (необязательные поля).</p>

    <p>Загружены будут только те карты которые имеют уникаьные <strong>Hard ID</strong>, <strong>Тройка ID</strong>.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form id="importForm" class="form-inline" enctype="multipart/form-data" method="POST">
        <div class="form-group">
          <label for="inputFile">Выберите файл для загрузки</label>
        </div>
        <div class="form-group">
          <input type="file" id="inputFile" name="importFile">
        </div>
        <button type="submit" class="btn btn-primary">Импортировать</button>
      </form>
    </div>
  </div>
{% endblock %}