{% extends "layout.html" %}

{% block page_title %}Тройка > Список карт{% endblock %}

{% block menu %}
  <div class="row">
    <div class="col-md-10">
      <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active">Карты</li>
      </ol>
    </div>
    <div class="col-md-2 text-right">
      <a href="javascript:;"
        class="btn btn-primary btn-sm" id="show-filters" title="Фильтр">
        <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true">
        </span>
      </a>
      <a href="javascript:;"
        class="btn btn-primary btn-sm" id="show-statuses" title="Редактировать статус">
        <span class="glyphicon glyphicon-edit" aria-hidden="true">
        </span>
      </a>
      <a href="{{ url_for('card.import_cards') }}"
        class="btn btn-primary btn-sm" title="Импорт">
        <span class="glyphicon glyphicon glyphicon-import" aria-hidden="true">
        </span>
      </a>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row">
      <div class="col-md-12">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
         {{ message }}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  {% endwith %}

  <div class="row filters-block {% if not search_data %}filters-block_hide{% endif %}">
    <div class="col-md-10">
      <form class="form-horizontal" role="form" method="POST">
        <div class="form-group">
          <label class="control-label col-sm-2" for="hard_id">Hard ID:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control"
              pattern=".{0}|.{3,}" title="Минимум 3 символа"
              name="hard_id" id="hard_id"
              {% if 'hard_id' in search_data %}
                value="{{ search_data['hard_id'] }}"
              {% endif %}>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="troika_id">Тройка ID:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control"
              pattern=".{0}|.{3,}" itle="Минимум 3 символа"
              name="troika_id" id="troika_id"
              {% if 'troika_id' in search_data %}
                value="{{ search_data['troika_id'] }}"
              {% endif %}>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="reset" class="btn btn-default">Сбросить</button>
            <button type="submit" class="btn btn-default">Найти</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div class="row statuses-block statuses-block-hide">
    <div class="col-md-10">
      <form class="form-horizontal" role="form" method="POST" action="/card/set_status">
        <div class="form-group">
          <label class="control-label col-sm-2" for="set_troika_status">Статус в Тройке:</label>
          <div class="col-sm-5">
            <select class="form-control" name="troika_status" id="set_troika_status">
            <option value="-1" selected="selected">Не менять</option>
            {% for key, value in troika_state_title.iteritems() %}
              <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="set_status">Статус:</label>
          <div class="col-sm-5">
            <select class="form-control" name="status" id="set_status">
            <option value="-1" selected="selected">Не менять</option>
            {% for key, value in status_title.iteritems() %}
              <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <input type="hidden" value="{}" name="selected_cards" id="selected_cards">
            <button id="save_statuses" type="submit" class="btn btn-default">Сохранить</button>
          </div>
        </div>
      </form>
    </div>
  </div>    
    
  <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th></th>
          <th>Hard ID</th>
          <th>Тройка ID</th>
          <th>Статус в Тройке</th>
          <th>Статус</th>
          <th class="col-md-1"></th>
        </tr>
      </thead>
      <tbody>
        {% for card in cards.items %}
          <tr>
            <td class="text-center"><input card_id="{{ card.id }}" class="card-checkbox" type="checkbox"></td>
            <td>
              <a href="{{ url_for('card.show', card_id=card.id) }}">
                {{ card.hard_id }}
              </a>
            </td>
            <td>{{ card.troika_id }}</td>
            <td>{{ troika_state_title[card.troika_state] }}</td>
            <td>{{ status_title[card.status] }}</td>
            <td>
              <a href="{{ url_for('card.edit', card_id=card.id) }}" class="btn btn-primary btn-sm" title="Редактировать">
                <span class="glyphicon glyphicon-edit" aria-hidden="true">
                </span>
              </a>
              <a href="{{ url_for('history.list') }}?card_id={{ card.id }}"
                class="btn btn-primary btn-sm" title="История изменений">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true">
                </span>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
  {% block pagination %}
    <nav>
      <ul class="pager">
        {% if cards.has_prev %}
        <li>
          <a href="{{ url_for('card.list') }}?page={{ cards.prev_num }}{% if troika_id %}&troika_id={{ troika_id }}{% endif %}">
            Previous
          </a>
        </li>
        {% endif %}
        {% if cards.has_next %}
        <li>
          <a href="{{ url_for('card.list') }}?page={{ cards.next_num }}{% if troika_id %}&troika_id={{ troika_id }}{% endif %}">
            Next
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  {% endblock %}
{% endblock %}