{% extends "layout.html" %}

{% block page_title %}Тройка > Карт > Просмотр ({{ card.hard_id }}){% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    <li><a href="/card/">Карты</a></li>
    <li class="active">Просмотр ({{ card.hard_id }})</li>
  </ol>
{% endblock %}
  
{% block content %}

    <form class="form-horizontal">
    <div class="form-group">
      <label for="inputHardId" class="col-sm-2 control-label">Hard ID</label>
      <div class="col-sm-4">
        <p class="form-control-static">{{ card.hard_id }}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="inputHardId" class="col-sm-2 control-label">Тройка ID</label>
      <div class="col-sm-4">
        <p class="form-control-static">{{ card.troika_id }}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="inputNameRu" class="col-sm-2 control-label">Название на русском</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{ card.name_ru|default('N/A', true) }}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="inputNameEn" class="col-sm-2 control-label">Название на англиском</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{ card.name_en|default('N/A', true) }}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="inputСreationВate" class="col-sm-2 control-label">Дата добавления</label>
      <div class="col-sm-4">
        <p class="form-control-static">{{ card.creation_date }}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="inputNameEn" class="col-sm-2 control-label">Статус в Тройке</label>
      <div class="col-sm-4">
        <p class="form-control-static">{{ troika_state_title[card.troika_state] }}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="inputNameEn" class="col-sm-2 control-label">Статус</label>
      <div class="col-sm-4">
        <p class="form-control-static">{{ status_title[card.status] }}</p>
      </div>
    </div>

  </form>
{% endblock %}