{% extends "layout.html" %}

{% block page_title %}Тройка > Карт > Просмотр ({{ card.hard_id }}){% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    <li><a href="/card/">Карты</a></li>
    <li class="active">Просмотр ({{ card.hard_id }})</li>
  </ol>
{% endblock %}
  
{% block content %}
  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th class="col-md-2">Attribute</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Hard ID</td><td>{{ card.hard_id }}</td></tr>
      <tr><td>Тройка ID</td><td>{{ card.troika_id }}</td></tr>
      <tr><td>Название на русском</td><td>{{ card.name_ru|default('N/A', true) }}</td></tr>
      <tr><td>Название на английском</td><td>{{ card.name_en|default('N/A', true) }}</td></tr>
      <tr><td>Дата добавления</td><td>{{ card.creation_date }}</td></tr>
      <tr><td>Статус в Тройке</td><td>{{ troika_state_title[card.troika_state] }}</td></tr>
      <tr><td>Статус</td><td>{{ status_title[card.status] }}</td></tr>
    </tbody>
  </table>
  <p>
    <a href="{{ url_for('history.list') }}?card_id={{ card.id }}" class="btn btn-primary" title="История изменений">
      История изменений
    </a>
    <a href="{{ url_for('card.edit', card_id=card.id) }}" class="btn btn-primary" title="Редактировать">
      Редактировать
    </a>
  </p>
{% endblock %}