{% extends "layout.html" %}

{% block page_title %}Тройка > История карт{% endblock %}

{% block breadcrumb %}
  {% if not card_id %}
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li class="active">История изменений</li>
    </ol>
  {% else %}
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="{{ url_for('history.list') }}">История изменений</a></li>
      <li class="active">Карта ({{ card.hard_id }})</li>
    </ol>
  {% endif %}
{% endblock %}

{% block content %}
  <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          {% if not card_id %}
            <th>Карта</th>
            <th>Hard_ID</th>
          {% endif %}
          <th>Пользователь</th>
          <th>Действие</th>
          <th>Дата</th>
          <th class="col-md-1"></th>
        </tr>
      </thead>
      <tbody>
        {% for row in history.items %}
          <tr>
            {% if not card_id %}
              <td>
                <a href="{{ url_for('history.list') }}?card_id={{ row.card_id }}">
                  {{ row.card_id }}
                </a>
              </td>
              <td>{{ row.card.hard_id }}</td>
            {% endif %}
            <td>{{ row.user.email }}</td>
            <td class="col-md-2">{{ action_title[row.action] }}</td>
            <td class="col-md-2">{{ row.action_date }}</td>
            <td>
              <a href="{{ url_for('history.show', history_id=row.id) }}"
                class="btn btn-primary btn-sm" title="Подробнее">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true">
                </span>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% block pagination %}
    <nav>
      <ul class="pager">
        {% if not card_id %}
          {% if history.has_prev %}
            <li>
              <a href="{{ url_for('history.list') }}?page={{ history.prev_num }}">
                Previous
              </a>
            </li>
            {% endif %}
            {% if history.has_next %}
            <li>
              <a href="{{ url_for('history.list') }}?page={{ history.next_num }}">
                Next
              </a>
            </li>
          {% endif %}
        {% else %}
          {% if history.has_prev %}
            <li>
              <a href="{{ url_for('history.list') }}?page={{ history.prev_num }}&card_id={{ card_id }}">
                Previous
              </a>
            </li>
            {% endif %}
            {% if history.has_next %}
            <li>
              <a href="{{ url_for('history.list') }}?page={{ history.next_num }}&card_id={{ card_id }}">
                Next
              </a>
            </li>
          {% endif %}
        {% endif %}

      </ul>
    </nav>
  {% endblock %}
{% endblock %}