{% extends "layout.html" %}

{% block page_title %}Тройка > История изменений > Просмотр{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    <li><a href="/card/">История изменений</a></li>
    <li><a href="{{ url_for('history.list') }}?card_id={{ history.card_id }}">{{ history.card.hard_id }}</a></li>
    <li class="active">Просмотр</li>
  </ol>
{% endblock %}
  
{% block content %}
  <table class="table table-bordered table-responsive">
    <thead>
        <tr>
          <th class="col-md-2">Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td>Карта (Hard ID)</td>
        <td>
          <a href="{{ url_for('card.show', card_id=history.card_id) }}">
            {{ history.card.hard_id }}
          </a>
        </td>
      </tr>
      <tr>
        <td>Пользователь</td>
        <td>{{ history.user.email }}</td>
      </tr>
      <tr>
        <td>Дата</td>
        <td>{{ history.action_date }}</td>
      </tr>
      <tr>
        <td>Действие</td>
        <td>{{ action_title[history.action] }}</td>
      </tr>
    </tbody>
  </table>
  <h4>Изменения:</h4>
  <div class="row">
    <div class="col-md-6"><pre>{{ to_text(history.before) }}</pre></div>
    <div class="col-md-6"><pre>{{ to_text(history.after) }}</pre></div>
  </div>
{% endblock %}